[user]
        name = Villasenor, Edward
        email = EddieVilla@users.noreply.github.com
[core]
        editor = vim
        pager = less -FRXS
[color]
        ui = true
[svn]
        rmdir = true
[merge]
        tool = vimdiff
        summary = true
[push]
        default = simple
[pull]
        rebase = true
[filter "lfs"]
        process = git-lfs filter-process
        required = true
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
[alias]
        adog = log --all --decorate --oneline --graph
